



#landing-page {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 5rem;

    height: 100vh;
    width: 100%;

    padding: 2rem;
    margin: 0;

    background-color: var(--color3);
}
/* #landing-page > div {
    border: 5px solid red;
} */

#landing-page-image {
    order:1;

    min-height: 70px;
}
#landing-page-divider1 {
    order:2;
    width: 0.5rem;
    height: 100%;
}
#landing-page-divider2 {
    order:5;
    width: 0px;
    height: 100%;
}

#landing-page-heading {
    order:3;

    min-width: 0;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    font-size: 10rem;

    margin: auto; padding: auto;
}
#landing-page-heading div {
    margin: auto; padding: auto;
    color: var(--color4);
    line-height: 0.6;
}


#landing-page-text {
    order:4;
    text-align: center;
    font-size: 2rem;
}

#landing-page-video {
    order:6;

    align-items: center;
    padding: auto;

    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    font-size: 5rem;

}

#landing-page-video > a {
    margin: auto;
    width: 6rem;
    display: flex;
    flex-direction: row;

        text-decoration: none;
        color: var(--color5);

    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

#landing-page-video img {
    max-width: 100%;
    max-height: 100%;
    fill: var(--color5)
}


@media (orientation: portrait) {
    #landing-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 2fr 1fr auto 2fr;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    #landing-page-heading {
        order:1;
    }
    #landing-page-divider1 {
        order:2;
        margin: auto;
        width: 80%;
        height: 0.5rem;
    }
    #landing-page-image {
        order:3;
    }
    #landing-page-text {
        order:4;
    }
    #landing-page-divider2 {
        order:5;
        margin: auto;
        width: 80%;
        height: 0.5rem;
    }
    #landing-page-video {
        order:6;
    }
}